@import '~nativescript-theme-core/css/core.light.css';

.input-field {
  border-bottom-color: purple;
  border-bottom-width: 1;
  width: 300;
  padding: 5 10;
  margin-bottom: 5 0;
}

.drawer-container {
  background: linear-gradient(140deg, #2b0c72, #5c3fa0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn {
  border-color: purple;
  border-width: 1;
  padding: 5 10;
  border-radius: 30%;
  margin: 5 0;
  width: 100%
}